node_modules

# Static
/static/avatars/*.webp
!/static/avatars/default.webp

# Output
.output
.vercel
/.svelte-kit
/build
build.zip

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cert
cert.pem
key.pem
ca.pem