:root {
    --primary-color: hsl(276, 100%, 50%);
    --primary-color-selected: hsl(276, 100%, 65%);
    --primary-color-disabled: hsl(276, 100%, 35%);
    --bg: white;
    --secondary-bg: #ddd;
    --input-box: #f2f2f2;
    --text: black;
    --url: #9900ff;
    --dropdown: #eee;
    --placeholder: #bfbfbf;
    

    --cover-gradient-start: #f4afaf;
    --cover-gradient-end: #ab72f0;

    /* --first-gradient-start: #47cacc;
    --first-gradient-end: #cdb3d4;
    --second-graident-start: #fe676e;
    --second-graident-end: #47cacc;
    --third-graident-start: #cdb3d4;
    --third-graident-end: #ffbe88;
    --fourth-graident-start: #e7b7c8;
    --fourth-graident-end: #cdb3d4;
    --fifth-graident-start: #ffbe88;
    --fifth-graident-end: #e7b7c8;

    --first-gradient-dark-start: #041B2D;
    --first-gradient-dark-end: #004E9A;
    --second-gradient-dark-start: #004E9A;
    --second-gradient-dark-end: #428CD4;
    --third-gradient-dark-start: #FF9CDA;
    --third-gradient-dark-end: #F9AD6A;
    --fourth-gradient-dark-start: #FF9CDA;
    --fourth-gradient-dark-end: #EA4492;
    --fifth-gradient-dark-start: #EA4492;
    --fifth-gradient-dark-end: #004E9A; */
}

* {box-sizing: border-box;}

html {height: 100%;}
body {
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
}

a {
    color: var(--url);
    text-decoration: none;
}
a:hover {text-decoration: underline;}
a.normalize {
    color: var(--text);
    text-decoration: none;
}

div#svelte-root {
    display: flex;
    height: 100%;
}

div.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.header-wrapper > a {
    color: var(--placeholder-color);
    text-decoration: none;
}
div.header-wrapper h2 {margin: 0;}

div.user {
    display: flex;
    align-items: center;
    gap: .5rem;
}
div.user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    flex-grow: 1;
}

figure {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 1rem;
}
figure > img {
    width: 400px;
    height: 150px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
figure > figcaption {
    padding: .5rem;
    background-color: var(--secondary-bg);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
figure h3 {margin-top: 0;}

input:not([type="file"], [type="radio"]) {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--input-box);
    color: var(--text);
}
input::placeholder {color: var(--placeholder);}

button, a.button {
    display: block;
    width: fit-content;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    transition: ease 500ms;
    user-select: none;
}
button:hover, a.button:hover {
    background-color: var(--primary-color-selected);
    border-radius: .5rem;
    text-decoration: none;
    transition: ease 500ms;
}

button[disabled], a.button[disabled] {
    background-color: var(--primary-color-disabled);
    color: lightgray;
    cursor: not-allowed;
    border-radius: 1rem;
}

button.fake {
    padding: initial;
    background: none;
    color: var(--text);
}

div.user-dropdown, button.notify-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    top: 64px;
    right: 16px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--dropdown);
    z-index: 50;
}
div.user-dropdown {
    align-items: center;
    width: fit-content;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --secondary-bg: #222;
        --text: white;
        --url: white;
        --input-box: #222;
        --dropdown: #222;
        --placeholder: gray;
    }
}